/* -------------- xs ( default ) */
:root {
  --_bgc: #e5e5e5;
  --_clr: rgba(3 7 18 / 1);
  --_scroll: #8d8d8d;
  --_hov-clr: #3f3f3f;
  --_divs: rgba(156 163 175 / 0.5);
}
html {
  font-size: 10px;
  color: var(--_clr);
  scroll-behavior: smooth;
}
body,
.root {
  overflow: hidden;
  max-height: clamp(100vh, 100dvh, 100lvh);
}
body {
  font-family: "Google Sans Mono", monospace;
  font-size: 1.3rem;
  background-color: var(--_bgc);
}
html,
body {
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
}
* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.root,
.svgs,
.svgs > div > div:nth-child(1),
.svgs > div > div:nth-child(2),
.svgs > div > div,
.svgs > div {
  display: flex;
}
.root,
.svgs > div {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.root,
.svgs {
  gap: 2rem;
}
.root,
.search,
.search > input,
.svgs,
.svgs > div > div:nth-child(1),
.svgs > div > div:nth-child(2) {
  width: 100%;
}
.root {
  height: clamp(100v, 100dv, 100lv);
  min-height: clamp(100vh, 100dvh, 100lvh);
  min-width: 30rem;
  position: relative;
}
.hero,
.search > input {
  padding: 1rem;
}
.hero {
  padding-top: 3rem;
}
.search,
.svgs::-webkit-scrollbar-thumb {
  border-radius: 2rem;
}
.search {
  padding: 1rem 2rem;
}
.search > input:focus {
  outline-style: none;
}
.search > input {
  border-radius: 1.5rem;
  border-style: none;
}
.svgs {
  flex-grow: 1;
  align-content: flex-start;
  height: auto;
  overflow-y: scroll;
  padding: 2rem;
}
.svgs,
.svgs > div > div:nth-child(2) {
  flex-wrap: wrap;
}
.svgs,
.svgs > div > div:nth-child(1),
.svgs > div > div:nth-child(2) {
  align-items: flex-start;
  justify-content: center;
}
.svgs > div > div:nth-child(1) > svg {
  height: 3rem;
  width: 3rem;
}
.svgs > div > div:nth-child(1),
.svgs > div {
  height: 10rem;
}
.svgs > div > div:nth-child(2) {
  text-align: center;
  font-size: 1.1rem;
  opacity: 0.7;
  height: 100%;
  user-select: none;
}
.svgs > div > div,
.svgs > div {
  gap: 1rem;
}
.svgs > div {
  width: 10rem;
}
.svgs::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
}
.svgs::-webkit-scrollbar-track,
.svgs::-webkit-scrollbar-corner {
  background-color: inherit;
}
.svgs::-webkit-scrollbar-thumb:hover {
  border: 1px solid transparent;
  cursor: grabbing;
}
.svgs::-webkit-scrollbar-thumb {
  background-color: #262626;
  background-clip: content-box;
  border: 2.5px solid transparent;
}
.svnone {
  display: none !important;
  background-color: #fffacd;
}
/* -------------- smd */
@media (min-width: 624px) {
  .search {
    width: 40rem;
  }
  .svgs > div > div:nth-child(1) > svg {
    height: 5rem;
    width: 5rem;
  }
  .svgs > div > div:nth-child(2) {
    font-size: 1.2rem;
  }
  .svgs > div {
    width: 12rem;
    height: 12rem;
  }
}
/* -------------- dark */
@media (prefers-color-scheme: dark) {
  :root {
    --_bgc: #202020;
    --_clr: rgba(255 255 255 / 1);
    --_scroll: #5d5d5d;
    --_hov-clr: #ebebeb;
    --_divs: rgba(75 85 99 / 0.5);
  }
  .svgs::-webkit-scrollbar-thumb {
    background-color: white;
  }
}
